.hero-section {
    background: url('https://media.istockphoto.com/id/1183977299/video/seamless-loop-of-deep-blue-ocean-waves-from-underwater-background-light-rays-shining-through.jpg?s=640x640&k=20&c=q6wZYxRxg2MI0Ox09i_1GS9Hibf0R4Fvqip5wpaRPkI=') no-repeat center center/cover;
    text-align: center;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-submit {
    background-color: #00d1b2;
    color: white;
  }
  .button-submit:hover {
    transform: scale(1.1);
    background-color: #00d1b2;
  }

  .login-form-control:hover {
    border: 2px solid turquoise;
  }
